<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta><link rel="stylesheet" type="text/css" href="__STYLE__"></link></head><body>
<h2>Полезные статьи, инструкции и видеоуроки</h2>
<div>
<h3>Инструменты</h3></div>
<div><b><i><font color="#536ac2">- Фреймворк "Тестирование 3.0"</font></i></b> <a target="_blank" href="https://github.com/ivanov660/TestingTool-3">(https://github.com/ivanov660/TestingTool-3)</a> - один из инструментов тестирования содержит полный набор для управления, создания, просмотра отчетов 
тестов;</div>
<div><b><i><font color="#536ac2">- Фреймворк "Мониторинг производительности"</font></i></b> <a target="_blank" href="https://github.com/Polyplastic/1c-parsing-tech-log">(https://github.com/Polyplastic/1c-parsing-tech-log)</a>- инструмент позволяет выполнять
мониторинг нагрузки системы, ежедневного мониторинга, подходит для оценки нагрузочного тестирования.</div>
<div>
<h3>Статьи</h3></div>
<div>- <b><i><font color="#536ac2">Тестирование: пример создания сценарного UI теста для платформы 1С</font></i></b> <a target="_blank" href="https://infostart.ru/1c/articles/813062/">(https://infostart.ru/1c/articles/813062/)</a> -в статье описывается сквозной пример содания сценарного теста для бизнес процесса продажи.</div>
<div>- <i><b><font color="#536ac2">Тестирование: пример из семи шагов создания Unit-теста для платформы 1С</font></b></i> <a target="_blank" href="https://infostart.ru/public/663808/">(https://infostart.ru/public/663808/)</a> - в статье описывается пример создания юнит теста.</div>
<div><br></div>
<div><br></div></body></html>